.match-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2%;
  border-radius: 13px;
  background-color: #0f172a;
  color: #ffffff;
  width: 100%;
  margin-bottom: 20px;
}

.match-details {
  text-align: right;
  width: 30%;
}

.opponent-team-details {
  width: 30%;
}

.team-logo {
  width: 70px;
  height: 70px;
}

@media screen and (min-width: 767px) {
  .team-logo {
    width: 200px;
    height: 200px;
  }
}

.competing-team {
  font-size: xx-large;
  font-weight: 600;
}

@media (max-width: 767px) {
  .competing-team {
    font-size: smaller;
    font-weight: 600;
  }
  .opponent-team-details,
  .match-details {
    font-size: x-small;
    width: 40%;
  }
}

.latest-match-headings {
  font-size: 22px;
}

